@import "~src/styles.scss";
div {
  width: 350px;
  padding: 190px 0 0;
  margin: auto;
}
form {
  position: relative;
  background: $gainsboro;
  padding: 25px;
  border: 1px ;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
input {
  font-family: $font;
  background: $white;
  width: 250px;
  margin: 0 10px 15px;
  padding: 15px;
  font-size: 14px;
  cursor: text;
  border: 0;
  border-bottom: 1px solid $gainsboro;
}
button {
  font-family: $font;
  text-transform: uppercase;
  background: $black_rose;
  width: 280px;
  border: 0;
  padding: 15px;
  color: $white_smoke;
  font-size: 14px;
  cursor: pointer;
  margin: 15px 10px auto;
}
button:hover,.form button:active,.form button:focus {
  background: $boysenberry;
}
p{
  font-family: $font;
  color: $dim_gray;
  font-size: 14px;
}
a{
  color: $dim_gray;
}
