/* You can add global styles to this file, and also import other style files */
$black_rose: #5e002f;
$gainsboro: #DCDCDC;
$white_smoke: #F5F5F5;
$dim_gray: #696969;
$boysenberry: #823159;
$white: #FFFFFF;


$font: "Comic Sans MS", sans-serif;


body {
  background: $white;
}
